@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table :where(thead, tbody) :where(tr:not(:last-child)),
.table :where(thead, tbody) :where(tr:first-child:last-child) {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: #00000033;
}

@layer components {
  .maxW1280 {
    @apply max-w-7xl mx-auto w-full md:py-3 py-1 px-2 md:px-5;
  }

  .btnShadow {
    box-shadow: 0px 4px 50px 0px rgba(51, 145, 255, 0.5);
  }

  .CMNCardBG {
    @apply w-full min-h-80 bg-gray rounded-3xl lg:py-7 py-5;
  }
  .FormCardBG {
    @apply w-full min-h-80 bg-gray rounded-3xl lg:py-7 py-5 md:px-10 px-5;
  }
  .fromTitle {
    @apply text-blue md:text-3xl text-xl font-medium mb-8;
  }
  .btnFill {
    @apply bg-blue md:px-12 px-8 py-3 sm:text-base text-xs text-white font-medium rounded-3xl;
  }
  .btnOutline {
    @apply border border-black-10 md:px-10 px-7 py-3 sm:text-base text-xs text-black-10 font-medium rounded-3xl;
  }
  .formInputBox {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.35);
  }
}
